@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #1b45b9;
  --background-start-rgb: #1b45b9;
  --background-end-rgb: #;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, #6786dd) #1b45b9;
}
