/* LOGO */

.nav_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.8rem 0;
  background: white;
  border-bottom: 1px solid #e8e8e8e3;
  transition: all;
  transition-duration: 0.5s;

  &.nav_active {
    padding: 1.6rem 0;
    background: var(--background-start-rgb);
    color: white;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;

  .logoWrapper {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    gap: 1rem;

    .logoImage {
      width: 40px;
    }
  }

  .name {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navlink {
  font-size: 1.2rem;
}

.menu {
  display: none;
}

@media screen and (max-width: 1000px) {
  .navlinks {
    gap: 1rem;
  }

  .navbar {
    width: 100vw;
    padding: 0 1rem;
  }
}

@media screen and (max-width: 850px) {
  .navlinks {
    display: none;
  }

  .menu {
    display: initial;
  }

  .menu_icon {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .name {
    font-size: 1.3rem;
  }
}
