/* LOGO */

.nav_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 0;
  background: white;
  border-bottom: 1px solid #e8e8e8e3;
  transition: all;
  transition-duration: 0.5s;
}

.nav_active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 0;
  background: var(--background-start-rgb);
  transition: all;
  transition-duration: 0.5s;
  border-bottom: 1px solid #e8e8e8e3;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.name {
  font-size: 1.8rem;
  font-weight: bold;
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.navlink {
  font-size: 1.2rem;
}
